* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #29292e;
    &.dark {
        background-color: #29292E;
    }
}

body, input, button, select, textarea {
    font: 400 16px 'Roboto', sans-serif;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    top: 280px;
    margin: auto auto;
    background: #F8F8F8;
    border-radius: 10px;
    height: 360px;
    width: 590px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;

    img {
        width: 40px;
        height: 40px;
    }

    p {
        color: #737380;
    }

    > div {
        margin-top: 40px;
        display: flex;
        gap: 10px;
    }

    button {
        &:first-child {
            background: #DBDCDD;
            color: #737380;
        }

        background: #E73F5D;
        color: #fff;
    }

    &.dark {
        background: #29292E;
        
        h1 {
            color: #f8f8f8;
        }

        p {
            color: #DBDCDD;
        }

        button {
            &:first-child {
                background: #A8A8B3;
                color: #f8f8f8;
            }
            background: #A43B4E;
            color: #fefefe;
        }
    }
}